* {
  box-sizing: border-box;
}

ul, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.load-more {
  display: inline-block;
  margin-top: 50px;
}